h1 {
    margin-top: 8vh;
}

.teamImg {
    margin: auto;
    display: block;
}

form {
    width: 100%;
    margin-top: 3vh;
}

.button-container{
    display: flex;
    flex-direction: row;
    width: 250px;
    margin: auto;
    column-gap: 10px;
}

.pwreset-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.pwreset-text{
    color: white;
    font-family: montserrat, serif;
    font-size: 1rem;
    text-align: center;
}