.big-title {
    color: white;
    font-family: Orbitron, serif;
    text-align: center;
    font-size: 3rem;
}

.input-login {
    display: block;
    margin: 20px auto 20px;
    height: 3vh;
    min-height: 30px;
    width: 300px;
    font-family: montserrat, serif;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    background-color: rgb(0,0,0,0.4);
    color: white;
}

.label-login {
    font-family: montserrat, serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    text-align: center;
    margin: auto;
    display: block;
}

.err-msg{
    color: red;
    font-family: montserrat, serif;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 3vh;
}

.small-white-text{
    color: white;
    font-family: montserrat, serif;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

.purple-title {
    color: #31B7BC;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 1vh;
}

.purple-title-small {
    color: #31B7BC;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 1vh;
}

p{
    font-family: montserrat, serif;
}

/* FORM STYLE */
.form{
    width: 100%;
    margin-right: -18px;
}
.form-row{
    width: 100%;
    align-content: center;
    justify-content: center;
    column-gap: 18px;
    display: flex;
}

.form-group {
    float: left;
    width: 50%;
    margin-bottom: 18px;
}

.label-form, .input-form{
    display: block;
    width: 100%;
}

.label-form{
    font-family: montserrat, serif;
    font-size: 1rem;
    font-weight: 600;
    color: #575756;
    margin-bottom: 10px;
}

.input-form{
    height: 35px;
    font-family: montserrat, serif;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}
