<script src="/js/clientJS/teamCalendar.js"></script>

<div class="text"><%= user.team.displayname%> Team Calendar</div>
<div id="content">
    <div class="shadow-box">
        <div class="nav-btn-container">
            <div class="btn-container">
                <button class="default" id="lastWeek">
                    <i class="ri-arrow-left-s-line ri-2x"></i>
                    Last Week
                </button>
                <button class="default" id="today">Today</button>

                <button class="default" id="nextWeek">
                    Next Week
                    <i class="ri-arrow-right-s-line ri-2x"></i>
                </button>
            </div>
            <div class="current-week">
                <p id="currentWeekText" class="current-date-text"></p>
            </div>
        </div>
        <div class="cal-container">
        </div>
    </div>

    <div class="shadow-box potential-container">
        <p class="purple-title">Next Trainings</p>
        <table id="team-table" class="styled-table">
            <thead>
            <tr>
                <th>Type</th>
                <th>Date</th>
                <th>From</th>
                <th>Until</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="popup-container" id="popup-container-edit"></div>

<script>
    let users;

    $(document).ready(function () {
        let currentDate = new Date();

        buildCalendar(currentDate);

        $("#lastWeek").click(function () {
            currentDate.setDate(currentDate.getDate() - 7);
            buildCalendar(currentDate);
        });

        $("#nextWeek").click(function () {
            currentDate.setDate(currentDate.getDate() + 7)
            buildCalendar(currentDate);
        });

        $("#today").click(function () {
            currentDate = new Date();
            buildCalendar(currentDate);
        });
    });

    /**
     * Builds the calendar
     * @param currentDate For which week the calendar should be built
     * @returns {Promise<void>}
     */
    async function buildCalendar(currentDate) {
        await getUsers();
        const userData = {
            username: '<%= user.username %>',
        };
        const sessionUser = userData.username
        const user = users.find(user => user.username === sessionUser)

        await generateCalendar(users, currentDate, sessionUser, user.id);
    }

    /**
     * Gets all users from the database from one team
     * @returns {Promise<void>}
     */
    async function getUsers() {
        const teamData = {
            id: '<%= user.team.id %>'
        };
        const teamId = teamData.id;

        await $.ajax({
            url: "/user/getUserList/" + teamId,
            type: "GET",
            success: function (data) {
                users = data;
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
</script>