<script src="/js/clientJS/teamCalendar.js"></script>

<div class="text"><%= user.team.displayname %> Team Calendar</div>
<div id="content" class="content">
    <div class="shadow-box">
        <div class="nav-btn-container">
            <div class="btn-container">
                <button class="default" id="lastWeek">
                    <i class="ri-arrow-left-s-line ri-2x"></i>
                    Last Week
                </button>
                <button class="default" id="today">Today</button>

                <button class="default" id="nextWeek">
                    Next Week
                    <i class="ri-arrow-right-s-line ri-2x"></i>
                </button>
            </div>
            <div class="current-week">
                <p id="currentWeekText" class="current-date-text"></p>
            </div>
        </div>
        <div class="cal-header"></div>
        <div class="cal-container"></div>
    </div>

    <div class="sub-container">
        <div class="shadow-box potential-container">
            <p class="purple-title">Next Trainings</p>
            <table id="team-table" class="styled-table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>Until</th>
                    <th>Duration</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!--<div class="shadow-box advanced">
            <p class="purple-title">Options</p>
            <div class="options-btn-container">
                <button class="default green" id="defTrainingTime">Define Training Time</button>
            </div>
        </div>-->
    </div>
</div>

<div class="popup-container" id="popup-container-edit"></div>
<div class="popup-container" id="popup-containerDefTrainingTime"></div>
<div id="loading-message-container"><div id="loading-message"></div></div>

<script>


    let users;

    $(document).ready( function () {
        let currentDate = new Date();

        setupDefTrainingTimePopup();
        buildCalendar(currentDate);

        $("#lastWeek").click(function () {
            currentDate.setDate(currentDate.getDate() - 7);
            buildCalendar(currentDate);
        });

        $("#nextWeek").click(function () {
            currentDate.setDate(currentDate.getDate() + 7)
            buildCalendar(currentDate);
        });

        $("#today").click(function () {
            currentDate = new Date();
            buildCalendar(currentDate);
        });
    });

    /**
     * Builds the calendar
     * @param currentDate For which week the calendar should be built
     * @returns {Promise<void>}
     */
    async function buildCalendar(currentDate) {
        const userData = {
            username: '<%= user.username %>',
            teamId: '<%= user.team.id %>'
        };

        const users = await getUsers(userData.teamId);

        const sessionUser = userData.username
        const user = users.find(user => user.username === sessionUser)

        await $.ajax({
            url: "/team/getTeamManager",
            data: {teamId: userData.teamId},
            type: "GET",
            dataType: "json",
            success: function (data) {
                const teammanagerId = data[0].account_fk;
                generateCalendar(users, currentDate, sessionUser, user.id, teammanagerId);
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });

        buildNextTrainingTable(userData.teamId).then(() => {
            document.querySelector('#loading-message-container').style.display = 'none';
            document.querySelector('.content').style.display = 'block';
        });
    }
</script>