<script src="/js/clientJS/championpool.js"></script>

<div class="bg-grey-level1 xl:pr-4 lg:pr-0 pr-4 px-4 md:px-8 pt-6">
    <div class="flex justify-between">
        <div class="md:text-2xl md:block hidden text-xl font-bold font-orbitron text-white"><%= user.team.displayname%> Champion Pool</div>
        <div class="bg-grey-level2 flex items-center p-1 space-x-2">
            <div class="w-28 flex justify-center bg-grey-level3 rounded-md">
                <p class="font-bold font-montserrat">Main</p>
            </div>
            <div class="w-28 flex justify-center">
                <p class="font-bold font-montserrat">Practice</p>
            </div>
            <div class="w-28 flex justify-center">
                <p class="font-bold font-montserrat">Suggestion</p>
            </div>
        </div>
    </div>

    <div class="bg-grey-level2 w-full mt-4 py-4 px-6">
        <div class="flex justify-between items-center">
            <p class="font-montserrat font-bold text-almost-white text-lg">Main Champions</p>
            <%- include('../components/buttondefault', {type: 'button', id: 'addChampion', text: 'Add Champion', icon: 'ri-add-circle-line'}) %>
        </div>
        <div class="flex w-full space-x-4 mt-4">
            <div class="w-1/5 flex flex-col space-y-4" id="topDiv">
                <div class="bg-grey-level3 px-2 py-4 flex justify-center">
                    <p class="font-bold font-montserrat">Top Lane</p>
                </div>
            </div>
            <div class="w-1/5 flex flex-col space-y-4" id="jungleDiv">
                <div class="bg-grey-level3 px-2 py-4 flex justify-center">
                    <p class="font-bold font-montserrat">Jungle</p>
                </div>
            </div>
            <div class="w-1/5 flex flex-col space-y-4" id="midDiv">
                <div class="bg-grey-level3 px-2 py-4 flex justify-center">
                    <p class="font-bold font-montserrat">Mid Lane</p>
                </div>
            </div>
            <div class="w-1/5 flex flex-col space-y-4" id="adcDiv">
                <div class="bg-grey-level3 px-2 py-4 flex justify-center">
                    <p class="font-bold font-montserrat">ADC</p>
                </div>
            </div>
            <div class="w-1/5 flex flex-col space-y-4" id="supportDiv">
                <div class="bg-grey-level3 px-2 py-4 flex justify-center">
                    <p class="font-bold font-montserrat">Support</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup-containerChampions" class="popup-container"></div>
<div id="popup-containerDelete" class="popup-container"></div>

<script>
    $(document).ready(function () {
       setupChampionpool(<%=user.team.id%>);
    });
</script>