<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <script src="/js/clientJS/home.js"></script>
</head>
<body>
<div class="mt-20 ml-6">
    <p class="font-orbitron text-almost-white text-2xl">Dashboard</p>
</div>
</body>
</html>

<script>
</script>
