<script src="/js/clientJS/home.js"></script>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/dashboard/home.css">
</head>
<body>
<div class="content">
    <div class="header">
        <div>
            <p class="welcome">Welcome <%= user.username %> to</p>
        </div>
        <div>
            <img src="/res/logo/logo_webheader_black.png" alt="logo" class="logo">
        </div>
    </div>

    <div class="shadowbox-container">
        <div class="shadowbox-container-left">
            <div class="shadow-box shadow-box-left" id="twt-shadowbox">
                <a id="twitter-timeline" class="twitter-timeline" data-height="600px"
                   href="https://twitter.com/GenetixTeam"></a>
            </div>
        </div>
        <div class="shadowbox-container-right">
            <div class="shadow-box shadow-box-right" style="height: 380px">
                <iframe src="https://teamgenetix.ch/newsroom" class="embedded-website"></iframe>
            </div>
            <div class="shadow-box shadow-box-right" style="margin-top: 20px; height: 250px">
                <h2>Upcoming Trainings</h2>
                <table id="training-column" class="styled-table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>From</th>
                        <th>Until</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
    $(document).ready(function() {
        getNextTrainings('<%= user.team.id %>');
    });

</script>
