<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <script src="/js/clientJS/home.js"></script>

    <link rel="stylesheet" href="/css/dashboard/home.css">
    <link rel="stylesheet" href="/css/components/disocordStats.css"/>
</head>
<body>
<div class="content">
    <div class="header">
        <div>
            <p class="welcome">Welcome <%= user.username %> to</p>
        </div>
        <div>
            <img src="/res/logo/logo_webheader_black.png" alt="logo" class="logo">
        </div>
    </div>

    <div class="shadowbox-container">
        <div class="shadow-box next-trainings">
            <h2>Upcoming Trainings</h2>
            <table id="training-column" class="styled-table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>Until</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="shadow-box throwback">
            <h2>Genetix Throwback</h2>
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="img-container">
                            <img src="/res/pictures/Slideshow_1.jpg" class="img-slide" alt="Throwback Picture">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-container">
                            <img src="/res/pictures/Slideshow_2.jpg" class="img-slide" alt="Throwback Picture">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-container">
                            <img src="/res/pictures/Slideshow_3.jpg" class="img-slide" alt="Throwback Picture">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-container">
                            <img src="/res/pictures/Slideshow_4.jpg" class="img-slide" alt="Throwback Picture">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-container">
                            <img src="/res/pictures/Slideshow_5.jpg" class="img-slide" alt="Throwback Picture">
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="shadow-box stats">
            <h2>Live Stats</h2>
            <div class="live-stat-container">
                <div class="discord-data">
                    <img src="/res/logo/logo_new_small.png"  class="server-img"/>
                    <div class="main-data">
                        <p class="server-name-box">Team Genetix Discord</p>
                        <div class="online-container">
                            <i class="online-indicator"></i>
                            <p class="member-text" id="onlineMembers">...</p>
                            <i class="offline-indicator" style="margin-left: 10px"></i>
                            <p class="member-text" id="totalMembers">...</p>
                        </div>
                    </div>
                </div>

                <div class="discord-data">
                    <img src="/res/logo/webapp_logo.png"  class="server-img"/>
                    <div class="main-data">
                        <p class="server-name-box">Webapplication</p>
                        <div class="online-container">
                            <i class="online-indicator"></i>
                            <p class="member-text" id="onlineMembersW">...</p>
                            <i class="offline-indicator" style="margin-left: 10px"></i>
                            <p class="member-text" id="totalMembersW">...</p>
                        </div>
                    </div>
                </div>

                <div class="discord-data">
                    <img src="/res/socialmedia/twitter.png"  class="server-img"/>
                    <div class="main-data">
                        <p class="server-name-box">Team Genetix Twitter</p>
                        <div class="online-container">
                            <i class="online-indicator"></i>
                            <p class="member-text" id="twitterFollowers">...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow-box social-media">
            <h2>Social Media</h2>
            <div class="button-container">

                <a class="link" href="https://twitter.com/GenetixTeam" target="_blank">
                    <div class="glass-btn blue-btn">
                        <img src="/res/socialmedia/twitter.png" alt="Twitter" class="glow-icon">
                    </div>
                </a>

                <a class="link" href="https://instagram.com/genetix_ch" target="_blank">
                    <div class="glass-btn red-btn">
                        <img src="/res/socialmedia/instagram.png" alt="Instagram" class="glow-icon">
                    </div>
                </a>

                <a class="link" href="https://discord.gg/zTgtTMdS" target="_blank">
                    <div class="glass-btn blue-btn">
                        <img src="/res/socialmedia/discord.png" alt="DiscordBot" class="glow-icon">
                    </div>
                </a>

                <a class="link" href="https://www.twitch.tv/teamgenetix_ch" target="_blank">
                    <div class="glass-btn amber-btn">
                        <img src="/res/socialmedia/twitch.png" alt="Twitch" class="glow-icon">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="popup-containerEnterDiscord" class="popup-container"></div>
<div id="loading-message-container"><div id="loading-message"></div></div>
</body>
</html>

<script>
    $(document).ready(function () {
        setupSwiper();
        getNextTrainings('<%= user.team.id %>');
        loadDiscordMembers();
        loadWebappMembers();
        setupDiscordPopup('<%= user.discord %>');

        setTimeout(function () {
            document.querySelector('#loading-message-container').style.display = 'none';
            document.querySelector('.content').style.display = 'block';
        }, 400);
    });

</script>
