<script src="../../js/clientJS/home.js"></script>

<div class="bg-grey-level1 max-w-[1330px] xl:pr-4 lg:pr-0 pr-4 px-4 md:px-8 py-6">
    <h3 class="text-2xl mb-5 font-bold font-orbitron text-white">Dashboard</h3>

    <div class="sm:flex sm:flex-row sm:w-full sm:gap-10 sm:items-stretch sm:h-52">
        <div class="sm:relative shadow-shdaow2xl p-5 rounded-md w-60 sm:flex sm:flex-col"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30)">
            <h4 class="text-lg font-bold text-white pb-4">Upcoming Trainings</h4>
            <ul class="pb-4" id="nextTrainingList">
                <li class="text-base font-normal text-white">26.09 @ 19:00 - 21:30</li>
                <li class="text-base font-normal text-white">26.09 @ 19:00 - 21:30</li>
                <li class="text-base font-normal text-white">26.09 @ 19:00 - 21:30</li>
                <li class="text-base font-normal text-white">26.09 @ 19:00 - 21:30</li>
            </ul>
            <a href="#"
               class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Go to
                team calendar <i
                        class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>

        <div class="sm:relative p-5 shadow-shdaow2xl rounded-md w-60 mt-5 sm:mt-0 sm:flex sm:flex-col"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
            <h4 class="text-lg font-bold text-white pb-4">Personal Performance</h4>
            <p class="text-base font-normal text-white">LP Gain last 48 hours</p>
            <h3 class="text-success font-bold pt-2" style="font-size: 2.7rem">??? LP</h3>
            <a href="#"
               class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Go to
                team calendar <i
                        class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>
    </div>

    <h3 class="text-2xl mt-5 mb-5 font-bold font-orbitron text-white">Quick Links</h3>

    <div class="sm:flex sm:flex-wrap sm:w-full sm:gap-10 sm:items-stretch">
        <a href="https://store.teamgenetix.ch">
            <div class="shadow-shdaowxl rounded-md w-80"
                 style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
                <img src="../../res/logo/clothing_logo.png" class="h-16 mx-auto" alt=""/>
            </div>
        </a>
        <a href="https://www.teamgenetix.ch">
            <div class="mt-6 sm:mt-0 shadow-shdaowxl rounded-md w-80"
                 style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
                <img src="../../res/logo/website.png" class="h-16 mx-auto" alt=""/>
            </div>
        </a>

        <div class="px-5 py-3 shadow-shdaowxl rounded-md mt-6 sm:mt-0 w-80 sm:h-16"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
            <ul class="flex items-center justify-between space-x-4">
                <li>
                    <a href="https://twitter.com/GenetixTeam"><img src="../../res/socialmedia/x_white.png" alt="" class="h-10"/></a>
                </li>
                <li>
                    <a href="https://www.twitch.tv/teamgenetix_ch"><img src="../../res/socialmedia/twitch_white.png" alt="" class="h-10"/></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/genetix_ch"><img src="../../res/socialmedia/instagram_white.png" alt="" class="h-10"/></a>
                </li>
                <li>
                    <a href="https://discord.gg/rgRncVNK"><img src="../../res/socialmedia/discord_white.png" alt="" class="h-10"/></a>
                </li>
            </ul>
        </div>
    </div>

    <h3 class="text-2xl font-bold font-orbitron text-white pb-5 mt-5">Patchnotes</h3>
    <div class="shadow-shdaowxl rounded-md px-5 py-3 max-w-[600px]"
         style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
        <ul>
            <li>
                <p class="font-bold">27.01.2023 - v0.5.1</p>
                <p>New UI</p>
            </li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function () {
        getNextTrainings(<%= user.team.id %>)
    });
</script>