<div class="mt-8 ml-8 mr-8 mb-8 flex flex-col space-y-8">
    <div class="grid grid-cols-3 gap-8">
        <p class="font-orbitron text-almost-white text-2xl font-semibold">Dashboard</p>
        <div class=""></div>
        <div class=""></div>
    </div>
    <div class="grid grid-cols-[repeat(auto-fill,320px)] gap-8 auto-rows-min justify-center sm:justify-start">
        <div class="col-span-1 row-span-1 bg-gradient-to-br from-[#18191C] to-[#2B2D30] w-80 p-6 flex flex-col justify-between h-[250px] shadow-dashboard">
            <p class="font-montserrat text-almost-white font-semibold text-[22px]">Upcoming Trainings</p>
            <div class="flex flex-col flex-grow">
                <table class="text-almost-white font-montserrat text-base mt-2" style="height: 100px">
                    <tbody>
                    <tr class="space-x-2" style="display: flex; height: 25px;">
                        <td>26.09</td>
                        <td>@</td>
                        <td>19:00</td>
                        <td>-</td>
                        <td>22:30</td>
                    </tr>
                    <tr class="space-x-2" style="display: flex; height: 25px;">
                        <td>26.09</td>
                        <td>@</td>
                        <td>19:00</td>
                        <td>-</td>
                        <td>22:30</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="flex items-center mt-2">
                    <a class="text-turquoise font-montserrat text-base font-semibold cursor-pointer">Go to Team
                        Calendar</a>
                    <i class="ri-arrow-right-s-line text-turquoise font-semibold ml-2 cursor-pointer"></i>
                </div>
            </div>
        </div>
        <div class="col-span-1 row-span-1 bg-gradient-to-br from-[#18191C] to-[#2B2D30] w-80 p-6  flex flex-col h-[250px] shadow-dashboard">
            <p class="font-montserrat text-almost-white font-semibold text-[22px]">Personal Performance</p>
            <p class="font-semibold font-montserrat text-base text-almost-white mt-2">LP Gain last 48 hours</p>
            <div class="flex justify-center items-center flex-grow">
                <p class="font-orbitron text-success font-bold text-[52px] text-center">+ 43 LP</p>
            </div>
            <div>
                <div class="flex items-center mt-2">
                    <a class="text-turquoise font-montserrat text-base font-semibold cursor-pointer">Go to Stats Page</a>
                    <i class="ri-arrow-right-s-line text-turquoise font-semibold ml-2 cursor-pointer"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-[repeat(auto-fill,320px)] gap-8 auto-rows-min justify-center sm:justify-start">
        <div class="col-span-1 row-span-1 bg-gradient-to-br from-[#18191C] to-[#2B2D30] w-80 p-6  flex flex-col h-16 shadow-dashboard">
            <div class="flex flex-row h-full w-full items-center justify-between">
                <img src="/res/socialmedia/discord_white.png" alt="Discord Picture" class="h-8 cursor-pointer"/>
                <img src="/res/socialmedia/x_white.png" alt="X Picture" class="h-8 cursor-pointer"/>
                <img src="/res/socialmedia/twitch_white.png" alt="Twitch Picture" class="h-8 cursor-pointer"/>
                <img src="/res/socialmedia/instagram_white.png" alt="Instagram Picture" class="h-8 cursor-pointer"/>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-[repeat(auto-fill,320px)] gap-8 auto-rows-min">
        <p class="font-orbitron text-almost-white text-2xl font-semibold">Quick Links</p>
        <div></div>
        <p class="font-orbitron text-almost-white text-2xl font-semibold">Live Status</p>
    </div>
    <div class="grid grid-cols-[repeat(auto-fill,320px)] gap-8 auto-rows-min">
        <div class="col-span-1 row-span-1 bg-gradient-to-br from-[#18191C] to-[#2B2D30] w-80 p-2  flex flex-col h-24 shadow-dashboard justify-center items-center">
            <a href="https://store.teamgenetix.ch"><img src="/res/logo/clothing_logo.png" alt="GNX Clothing Logo" class="h-22 cursor-pointer mt-0.5"></a>
        </div>
        <div class="col-span-1 row-span-1 bg-gradient-to-br from-[#18191C] to-[#2B2D30] w-80 p-6  flex flex-col h-24 shadow-dashboard justify-center items-center">
            <a href="https://teamgenetix.ch"><img src="/res/logo/website.png" alt="GNX Website Logo" class="h-20 cursor-pointer"></a>
        </div>
        <div class="col-span-1 row-span-1 bg-gradient-to-br from-[#18191C] to-[#2B2D30] w-80 p-6  flex flex-col h-16 shadow-dashboard">
        </div>
    </div>
</div>

