<script src="../../js/clientJS/home.js"></script>

<div class="bg-grey-level1 max-w-[1330px] xl:pr-4 lg:pr-0 pr-4 px-4 md:px-8 py-6">
    <h3 class="text-2xl mb-5 font-bold font-orbitron text-white">Dashboard</h3>

    <div class="sm:flex sm:flex-row sm:w-full sm:gap-4 sm:items-stretch sm:h-52">
        <div class="sm:relative shadow-shdaow2xl p-5 rounded-md w-60 sm:flex sm:flex-col"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30)">
            <h4 class="text-lg font-bold text-white pb-4">Upcoming Trainings</h4>
            <ul class="pb-4" id="nextTrainingList">
                <li class="text-base font-normal text-white">26.09 @ 19:00 - 21:30</li>
                <li class="text-base font-normal text-white">26.09 @ 19:00 - 21:30</li>
                <li class="text-base font-normal text-white">26.09 @ 19:00 - 21:30</li>
                <li class="text-base font-normal text-white">26.09 @ 19:00 - 21:30</li>
            </ul>
            <a href="#" id="nextTrainings"
               class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Go to
                team calendar <i
                        class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>

        <div class="sm:relative p-5 shadow-shdaow2xl rounded-md w-60 mt-5 sm:mt-0 sm:flex sm:flex-col"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
            <h4 class="text-lg font-bold text-white pb-4">Personal Performance</h4>
            <p class="text-base font-normal text-white">LP Gain last 48 hours</p>
            <h3 class="text-success font-bold pt-2" style="font-size: 2.7rem">??? LP</h3>
            <a href="#"
               class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Go to Stats Page
                <i class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>

        <div class="sm:relative p-5 shadow-shdaow2xl rounded-md w-64 mt-5 sm:mt-0 sm:flex sm:flex-col"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
            <div class="flex flex-row justify-between">
                <h4 class="text-lg font-bold text-white pb-4">Shop - Coupon</h4>
                <a href="#" id="copyCouponCode"><i class="text-turquoise ri-clipboard-line"></i></a>
            </div>
            <div class="flex flex-row">
                <p class="text-base font-normal text-white">Current Code ( </p>
                <p class="font-bold mr-1"><%= user.team.salepercentage %> % </p>
                <p> discount)</p>
            </div>
            <h3 class="text-warning font-bold pt-2" style="font-size: 2.7rem" id="couponCode">-</h3>
            <a href="#" id="newCouponCode"
               class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Generate new Code
                <i class="text-turquoise ml-2 ri-loop-left-fill"></i></a>
        </div>
    </div>

    <h3 class="text-2xl mt-5 mb-5 font-bold font-orbitron text-white">Genetix+</h3>
    <div class="sm:flex sm:flex-row sm:w-full sm:gap-4 sm:items-stretch sm:h-60">

        <div class="sm:relative p-5 shadow-shdaow2xl rounded-md w-60 mt-5 sm:mt-0 sm:flex sm:flex-col"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
            <h4 class="text-lg font-bold text-white pb-4">Your Membership</h4>

            <div class="flex flex-col justify-center">
                <% if(user.subscription && user.subscription.id > 0) {%>
                <% if (user.subscription.subscriptiondefinition_fk == "3") {%>
                        <img src="../../res/genetix+/tierIII.png" class="h-20 mx-auto" alt="Tier III"/>
                        <p class="font-montserrat text-almost-white text-center mt-3 font-bold">Supporter</p>
                    <%} else if (user.subscription.subscriptiondefinition_fk == "2") {%>
                        <img src="../../res/genetix+/tierII.png" class="h-20 mx-auto" alt="Tier II"/>
                        <p class="font-montserrat text-almost-white text-center mt-3 font-bold">Member</p>
                    <%} else if (user.subscription.subscriptiondefinition_fk == "1"){%>
                        <img src="../../res/genetix+/tierI.png" class="h-20 mx-auto" alt="Tier I"/>
                        <p class="font-montserrat text-almost-white text-center mt-3 font-bold">VIP</p>
                    <%}%>

                    <a href="https://store.teamgenetix.ch/my-account/"
                       class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Manage Subscription
                        <i class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>

                <%} else {%>
                    <img src="../../res/genetix+/no_subscription.png" class="h-16 mx-auto" alt="No Subscription"/>
                    <p class="font-montserrat text-almost-white text-center mt-3 font-bold">None</p>
                        <%if(!user.wpuserid){%>
                    <p class="font-montserrat text-almost-white text-sm mt-3">Already subscribed?</p>
                        <a href="#" id="linkShop"
                           class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Link Shop Account
                            <i class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
                    <%}%>
                <%}%>
            </div>
        </div>

        <% if(user.subscription === undefined){ %>
            <div class="sm:relative p-5 shadow-shdaow2xl rounded-md w-[514px] mt-5 sm:mt-0 sm:flex sm:flex-col"
                 style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
                <h4 class="text-lg font-bold text-white pb-4">Consider upgrading to support our work!</h4>

                <div class="flex flex-row justify-between">
                    <div class="w-1/3 flex flex-col justify-center">
                        <img src="../../res/genetix+/tierI.png" class="h-16 mx-auto" alt="Genetix+"/>
                        <p class="font-montserrat font-bold text-center mt-2">VIP</p>
                        <p class="font-montserrat text-center">19.90 / Month</p>
                    </div>
                    <div class="w-1/3 flex flex-col justify-center">
                        <img src="../../res/genetix+/tierII.png" class="h-16 mx-auto" alt="Genetix+"/>
                        <p class="font-montserrat font-bold text-center mt-2">Member</p>
                        <p class="font-montserrat text-center">9.90 / Month</p>
                    </div>
                    <div class="w-1/3 flex flex-col justify-center">
                        <img src="../../res/genetix+/tierIII.png" class="h-16 mx-auto" alt="Genetix+"/>
                        <p class="font-montserrat font-bold text-center mt-2">Supporter</p>
                        <p class="font-montserrat text-center">4.90 / Month</p>
                    </div>
                </div>

                <a href="https://store.teamgenetix.ch/product-category/genetix/"
                   class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Get a Subscription
                    <i class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
            </div>
        <% } %>

    </div>

    <h3 class="text-2xl mt-5 mb-5 font-bold font-orbitron text-white">Quick Links</h3>

    <div class="sm:flex sm:flex-wrap sm:w-full sm:gap-10 sm:items-stretch">
        <a href="https://store.teamgenetix.ch">
            <div class="shadow-shdaowxl rounded-md w-80"
                 style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
                <img src="../../res/logo/clothing_logo.png" class="h-16 mx-auto" alt=""/>
            </div>
        </a>
        <a href="https://www.teamgenetix.ch">
            <div class="mt-6 sm:mt-0 shadow-shdaowxl rounded-md w-80"
                 style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
                <img src="../../res/logo/website.png" class="h-16 mx-auto" alt=""/>
            </div>
        </a>

        <div class="px-5 py-3 shadow-shdaowxl rounded-md mt-6 sm:mt-0 w-80 sm:h-16"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);">
            <ul class="flex items-center justify-between space-x-4">
                <li>
                    <a href="https://twitter.com/GenetixTeam"><img src="../../res/socialmedia/x_white.png" alt="" class="h-10"/></a>
                </li>
                <li>
                    <a href="https://www.twitch.tv/teamgenetix_ch"><img src="../../res/socialmedia/twitch_white.png" alt="" class="h-10"/></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/genetix_ch"><img src="../../res/socialmedia/instagram_white.png" alt="" class="h-10"/></a>
                </li>
                <li>
                    <a href="https://discord.gg/rgRncVNK"><img src="../../res/socialmedia/discord_white.png" alt="" class="h-10"/></a>
                </li>
            </ul>
        </div>
    </div>

    <h3 class="text-2xl font-bold font-orbitron text-white pb-5 mt-5">Patchnotes</h3>
    <div class="shadow-shdaowxl rounded-md px-5 py-3 max-w-[600px]"
         style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30);"  id="patchNotesContainer">
    </div>
</div>

<div class="popup-container" id="popup-container-linkshop"></div>

<script>
    $(document).ready(function () {
        getNextTrainings(<%= user.team.id %>);
        displayPatchNotes();
        displayLatestCouponCode();
        setupLinkShopPopup('home1');

        $("#nextTrainings").click(function (e) {
            e.preventDefault();
            loadPage("calendar")
        });

        $("#newCouponCode").click(function (e) {
            e.preventDefault();
            generateNewCouponCode();
        });

        $("#copyCouponCode").click(function (e) {
            e.preventDefault();
            navigator.clipboard.writeText($('#couponCode').text()).then(() => {
                displaySuccess("Copied Coupon Code to Clipboard")
            }).catch(err => {
                console.error('Could not copy text: ', err);
            });
        });
    });
</script>