<script src="/js/clientJS/lolstats.js"></script>

<div class="bg-grey-level1 xl:pr-4 lg:pr-0 pr-4 px-4 md:px-8 py-6">

    <h3 class="text-2xl mb-5 font-bold font-orbitron text-white">LoL Statistics</h3>
</div>

<script>

</script>