<script src="/js/clientJS/lolstats.js"></script>

<div class="bg-grey-level1 xl:pr-4 lg:pr-0 pr-4 px-4 md:px-8 py-6">

    <h3 class="text-2xl mb-5 font-bold font-orbitron text-white">LoL Statistics</h3>

    <div id="invalidRiotId" class="hidden">
        <p class="font-montserrat font-bold text-xl md:text-2xl text-error text-center">Your Riot-ID seems to be invalid!</p>
        <div class="flex justify-center items-center mt-4">
        <span class="font-montserrat text-center">In order to access this page you need to set a valid Riot-ID in your
        <a class="font-montserrat text-turquoise hover:underline hover:cursor-pointer font-bold" id="openSettings">Settings</a>
        </span>
        </div>
    </div>

    <div id="validRiotId" class="hidden">
        <div class="flex flex-wrap gap-4" id="playerCardContainer">
        </div>
    </div>

    <div id="loading" class="flex justify-center items-center mt-64">
        <img src="/res/others/loading_animation.gif" alt="loading animation" class="w-24"/>
    </div>
</div>

<script>
    $(document).ready(function () {
        const data = {
            id: '<%= user.id %>',
            riotId: '<%= user.riotgames %>'
        }

        initPage(data.id, data.riotId);
    });
</script>