<div class="text">Team Management</div>

<div class="content">
    <!-- TEAM LIST -->
    <div class="shadow-box">
        <p class="purple-title">Teams</p>
        <button class="default green new-code" id="newTeam">
            <i class="ri-add-circle-line ri-lg"></i>
            Create new
        </button>
        <table id="team-table" class="styled-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Weight</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- TEAM EDIT -->
    <div class="shadow-box edit-box" id="teamEdit">
        <p class="purple-title">Edit Team</p>
        <p class="purple-title-small">Information</p>
        <form id="form" class="form">
            <input type="number" value="" style="display: none" id="teamId"/>
            <div class="form-row">
                <div class="form-group">
                    <label class="label-form" for="name">Name</label>
                    <input class="input-form" type="text" id="name" name="name" value="">
                </div>
                <div class="form-group">
                    <label class="label-form" for="type">Type</label>
                    <select class="input-form" id="type" name="type"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label class="label-form" for="weight">Weight</label>
                    <input class="input-form" type="number" id="weight" name="weight" value="">
                </div>
                <div class="form-group">
                </div>
            </div>
        </form>
        <div class="btn-container">
            <button class="default red" id="delTeam">Delete Type</button>
            <button type="submit" class="default submit" id="updateTeam">Update</button>
        </div>
    </div>

    <!-- TEAM TYPE LIST-->
    <div class="shadow-box">
        <p class="purple-title">Team Types</p>
        <button class="default green new-code" id="newTeamType">
            <i class="ri-add-circle-line ri-lg"></i>
            Create new
        </button>
        <table id="teamtype-table" class="styled-table">
            <thead>
            <tr>
                <th>Internal Name</th>
                <th>Display Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- TEAM TYPE EDIT -->
    <div class="shadow-box edit-box" id="teamTypeEdit">
        <p class="purple-title">Edit Team Type</p>
        <p class="purple-title-small">Information</p>
        <form id="form" class="form">
            <input type="number" value="" style="display: none" id="teamTypeId"/>
            <div class="form-row">
                <div class="form-group">
                    <label class="label-form" for="internalName">Internal Name</label>
                    <input class="input-form" type="text" id="internalName" name="internalName" value="">
                </div>
                <div class="form-group">
                    <label class="label-form" for="displayName">Display Name</label>
                    <input class="input-form" type="text" id="displayName" name="displayName" value="">
                </div>
            </div>
        </form>
        <div class="btn-container">
            <button type="submit" class="default submit" id="updateTeamType">Update</button>
        </div>
    </div>
</div>

<div id="popup-containerTeam" class="popup-container"></div>
<div id="popup-containerTeamDel" class="popup-container"></div>
<div id="popup-containerTeamTypeDel" class="popup-container"></div>
<div id="popup-containerTeamType" class="popup-container"></div>

<script>


</script>