<script src="../../js/clientJS/trainingnotes.js"></script>

<div class="bg-grey-level1 max-w-[1330px] lg:pr-0 pr-4 px-4 md:px-8 py-6">
    <h3 class="text-2xl mb-5 font-bold font-orbitron text-white" id="title">View Note XYZ</h3>
</div>

<script>
    $(document).ready(function() {
        $('#title').text('View Note «' + currentNote.title + '»');
    });
</script>