<script src="../../js/clientJS/trainingnotes/trainingnotes.js"></script>

<div class="m-4 md:m-8">
    <h3 class="text-2xl mb-5 font-bold font-orbitron text-white">Training Notes</h3>
    <%- include('../components/buttondefault', {type: 'button', id: 'newNote', text: 'New Note', icon: 'ri-file-add-line', btnType: 'Success'}) %>

    <div class="bg-grey-level2 p-3 mt-5">
        <%- include('../components/table', {id: 'notes', bodyId: 'notesData', headers: [{text: 'Created at', display: 'sm'}, {text: 'Title'}, {text: 'Author'}, {text: 'Last Editor', display: 'md'}, {text: 'Last Edited', display: 'lg'}]}) %>

        <div class="flex justify-between items-center mt-4">
            <%- include('../components/buttondefault', {type: 'button', id: 'prevPage', text: '', icon: 'ri-arrow-left-line'}) %>
            <p class="text-almost-white font-montserrat font-bold" id="pageIndicator">Page 1 / 1</p>
            <%- include('../components/buttondefault', {type: 'button', id: 'nextPage', text: '', icon: 'ri-arrow-right-line'}) %>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        initPage();
    });
</script>