<link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"></script>
<link rel="stylesheet" href="/richtexteditor/rte_theme_default.css"/>

<script src="/js/clientJS/trainingnotes.js"></script>
<script type="text/javascript" src="/richtexteditor/rte.js"></script>
<script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>

<div class="text">Training Notes of Team <%= user.team.displayname %></div>

<div id="content" class="content">
    <div class="first-row">
        <div class="shadow-box existing-notes-box">
            <div class="header-container">
                <p class="purple-title">Training Notes</p>
                <button class="default green" type="button" id="newNote">New Note
                    <i class="ri-add-circle-line ri-lg"></i>
                </button>
            </div>

            <table id="existingNotesTable" class="styled-table">
                <thead>
                <tr>
                    <th style="width: 175px">Created At</th>
                    <th>Title</th>
                    <th style="width: 175px">Author</th>
                    <th style="width: 175px">Last Editor</th>
                    <th style="width: 175px">Last Edited</th>
                    <th style="width: 100px"></th>
                </tr>
                </thead>
                <tbody id="existingNotesData" class="styled-table">
                </tbody>
            </table>
        </div>
        <div class="shadow-box filters-container">
            <p class="purple-title">Filters</p>
        </div>
    </div>
    <div class="shadow-box view-note-box">
        <div class="header-container">
            <p class="purple-title">View Note</p>
            <button class="default purple" id="editNote" type="button">Edit Note
                <i class="ri-edit-line ri-lg"></i>
            </button>
            <div class="edit-mode-btn-container" id="editBtnContainer" style="display: flex">
                <button class="default red" id="deleteNote" type="button">Delete Note
                    <i class="ri-close-circle-line ri-lg"></i>
                </button>
                <button class="default purple" id="discardChanges" type="button">Discard Changes
                    <i class="ri-delete-bin-2-line ri-lg"></i>
                </button>
                <button class="default green" id="saveNote" type="button">Save Note
                    <i class="ri-save-line ri-lg"></i>
                </button>
            </div>
        </div>
        <div class="nothing-placeholder" id="nothingPlaceholder">
            <p class="no-data-found">NO NOTE SELECTED</p>
        </div>
        <div id="noteDisplayContainer">
            <div class="title-container">
                <p id="noteTitle" class="note-title"></p>
                <p id="noteCreation" class="note-creation"></p>
            </div>
            <div id="sectionDisplayContainer" class="section-container">
                <!-- Here are the sections of a note being added for display mode -->
            </div>
        </div>
        <div id="editNoteContainer">
            <div class="title-container">
                <div class="title-container-edit">
                    <label class="input-label input-label-edit">Title </label>
                    <input type="text" class="input-field title-input input-field-edit" id="editTitle"/>
                </div>
                <p id="noteCreationEdit" class="note-creation"></p>
            </div>
            <div id="sectionContainer" class="section-container">
                <!-- Here are the sections of a note being added for edit mode -->
            </div>
            <div class="footer">
                <button class="default green" id="addNewSection" type="button">Add new Section
                    <i class="ri-add-circle-line ri-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="popupContainerAddSection" class="popup-container"></div>
<div id="popupContainerDelSection" class="popup-container"></div>
<div id="popupContainerDelNote" class="popup-container"></div>
<div id="popupContainerAddAnnotation" class="popup-container"></div>

<script>
    $(document).ready(function () {
        initTrainingNotes();

        buildExistingNodesTable();
    });
</script>