webapp.teamgenetix.ch {
        reverse_proxy /* http://gnxcontainer:3000
        log {
                output file /var/log/caddy/access.log
                format single_field common_log
        }
}

store.teamgenetix.ch {
        reverse_proxy /* http://docker-wordpress-1:80
        log {
                output file /var/log/caddy/access.log
                format single_field common_log
        }
}
