<!-- Entry field component -->
<div class="relative">
    <input
            type="<%= type %>"
            name="<%= name %>"
            id="<%= id %>"
            class="font-montserrat text-almost-white text-base bg-action-grey h-9 w-64 p-2 focus:outline-none focus:ring-0"
            onfocus="animateLine(this)"
            onblur="reverseAnimation(this)"
    />
    <div class="absolute bottom-0 left-0 w-full h-0.75 bg-turquoise opacity-50"></div>
    <div id="<%= id %>-line" class="absolute bottom-0 left-0 w-0 h-0.75 bg-turquoise transition-all ease-out duration-300"></div>
</div>

<script>
    function animateLine(input) {
        const line = document.getElementById(`${input.id}-line`);
        line.style.width = '100%';
    }

    function reverseAnimation(input) {
        const line = document.getElementById(`${input.id}-line`);
        line.style.width = '0%';
    }
</script>




