<!-- Component for the Header of all pages -->
<div class="fixed w-full top-0 left-0 right-0 h-16 bg-gradient-to-r from-header-purple via-header-light-blue to-action-grey">
</div>

<div class="fixed w-full top-0 left-0 right-0 h-16 bg-opacity-50 bg-header-cover-grey flex justify-center items-center">
    <img src="/res/logo/logo_white_widescape.png" alt="Genetix Logo" class="h-14">
</div>