<!-- Component for the Header of all pages -->
<div class="relative w-full h-16">
    <div class="absolute w-full h-16 bg-gradient-to-r from-header-purple via-header-light-blue to-action-grey">
    </div>

    <div class="absolute w-full h-16 bg-opacity-50 bg-header-cover-grey flex justify-center items-center">
        <img src="/res/logo/logo_white_widescape.png" alt="Genetix Logo" class="h-14">
    </div>
</div>