<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="#2B2D30">

    <link rel="icon" type="favicon" href="../res/logo/favico.png">
    <link href="/dist/output.css" rel="stylesheet">
    <link href="/css/popup.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/richtexteditor/rte_theme_default.css"/>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/js/clientJS/utility/dashboardSnippetLoader.js"></script>
    <script src="/js/clientJS/utility/toastMessages.js"></script>
    <script src="/js/clientJS/utility/permissionCheckerClient.js"></script>
    <script src="/js/clientJS/utility/popupFactory.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="/js/clientJS/eventCalendar.js"></script>
    <script type="module" src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>
    <script type="text/javascript" src="/richtexteditor/rte.js"></script>
    <script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"></script>

    <title>Dashboard</title>
</head>

<body class="overflow-x-hidden">
<div class="relative h-screen flex flex-col overflow-y-auto">
    <div class="relative z-10">
        <%- include('./components/header.ejs', {userIcon: 'true'}) %>
    </div>

    <i class="ri-menu-line ri-2x absolute left-4 top-2 z-50 text-almost-white lg:hidden" id="menu"></i>

    <div class="flex flex-row flex-grow">
        <div class="bg-grey-level2 h-full w-[270px] min-w-[270px] flex-col items-start relative hidden lg:flex"
             id="navBar">

            <% if (user.home && user.home.canOpen) { %>
                <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                     id="home1">
                    <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                         id="home-line"></div>
                    <i class="ri-home-2-line ri-xl text-almost-white ml-4"></i>
                    <a class="text-almost-white font-semibold font-montserrat ml-4">Dashboard</a>
                </div>
            <% } %>

            <% if (user.calendar && user.calendar.canOpen) { %>
                <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                     id="calendar">
                    <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                         id="calendar-line"></div>
                    <i class="ri-calendar-2-line ri-xl text-almost-white ml-4"></i>
                    <a class="text-almost-white font-semibold font-montserrat ml-4">Team Calendar</a>
                </div>
            <% } %>

            <% if (user.championpool && user.championpool.canOpen) { %>
                <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                     id="championpool">
                    <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                         id="championpool-line"></div>
                    <i class="ri-trophy-line ri-xl text-almost-white ml-4"></i>
                    <a class="text-almost-white font-semibold font-montserrat ml-4">Championpool</a>
                </div>
            <% } %>

            <% if (user.trainingnotes && user.trainingnotes.canOpen) { %>
                <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                     id="trainingnotes">
                    <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                         id="trainingnotes-line"></div>
                    <i class="ri-sticky-note-line ri-xl text-almost-white ml-4"></i>
                    <a class="text-almost-white font-semibold font-montserrat ml-4">Training Notes</a>
                </div>
            <% } %>

                <% if (user.gameday && user.gameday.canOpen) { %>
                    <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                         id="gameday">
                        <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                             id="trainingnotes-line"></div>
                        <i class="ri-gamepad-line ri-xl text-almost-white ml-4"></i>
                        <a class="text-almost-white font-semibold font-montserrat ml-4">Gamedays</a>
                    </div>
                <% } %>

                <!--
            <% if (user.apexstats && user.apexstats.canOpen) { %>
                <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                     id="apexstats">
                    <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                         id="apexstats-line"></div>
                    <i class="ri-bar-chart-2-line ri-xl text-almost-white ml-4"></i>
                    <a class="text-almost-white font-semibold font-montserrat ml-4">Apex Statistics</a>
                </div>
            <% } %>-->
                <!--
            <% if (user.fileshare && user.fileshare.canOpen) { %>
                <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                     id="fileshare">
                    <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                         id="fileshare-line"></div>
                    <i class="ri-file-cloud-line ri-xl text-almost-white ml-4"></i>
                    <a class="text-almost-white font-semibold font-montserrat ml-4">Fileshare</a>
                </div>
            <% } %>-->

                <!--
            <% if (user.usermanagement && user.usermanagement.canOpen) { %>
                <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                     id="usermanagement">
                    <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                         id="usermanagement-line"></div>
                    <i class="ri-user-settings-line ri-xl text-almost-white ml-4"></i>
                    <a class="text-almost-white font-semibold font-montserrat ml-4">User Management</a>
                </div>
            <% } %>

            <% if (user.teammanagement && user.teammanagement.canOpen) { %>
                <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                     id="teammanagement">
                    <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                         id="teammanagement-line"></div>
                    <i class="ri-team-line ri-xl text-almost-white ml-4"></i>
                    <a class="text-almost-white font-semibold font-montserrat ml-4">Team Management</a>
                </div>
            <% } %>-->

            <% if (user.rolemanagement && user.rolemanagement.canOpen) { %>
                <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                     id="rolemanagement">
                    <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                         id="rolemanagement-line"></div>
                    <i class="ri-shield-line ri-xl text-almost-white ml-4"></i>
                    <a class="text-almost-white font-semibold font-montserrat ml-4">Role Management</a>
                </div>
            <% } %>

            <% if (user.changelog && user.changelog.canOpen) { %>
                <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                     id="changelog">
                    <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                         id="changelog-line"></div>
                    <i class="ri-exchange-line ri-xl text-almost-white ml-4"></i>
                    <a class="text-almost-white font-semibold font-montserrat ml-4">Changelog</a>
                </div>
            <% } %>
                <% if (user.adminpanel && user.adminpanel.canOpen) { %>
                    <div class="flex items-center w-full pl-4 py-4 group hover:bg-turquoise hover:bg-opacity-20 relative cursor-pointer"
                         id="adminpanel">
                        <div class="absolute left-0 w-1 bg-transparent group-hover:bg-turquoise h-full"
                             id="adminpanel-line"></div>
                        <i class="ri-shield-user-line ri-xl text-almost-white ml-4"></i>
                        <a class="text-almost-white font-semibold font-montserrat ml-4">Adminpanel</a>
                    </div>
                <% } %>
        </div>

        <section class="bg-grey-level1 flex-grow h-full" id="home-section"></section>
    </div>
</div>
</body>

<script>
    $(document).ready(function () {
        $(function () {
            pages.forEach(page => {
                $('#' + page.id).click(async function (e) {

                    e.preventDefault();
                    const isAuthenticated = await checkSessionStatus();
                    if (!isAuthenticated) {
                        window.location.href = '/?type=error&message=Session expired, please login again';
                    } else {
                        await loadPage(page.id);
                        if (window.innerWidth < 1024) {
                            $("#navBar").addClass("hidden lg:block").removeClass("absolute z-50 w-full top-0");
                            $("#menu").toggleClass("ri-menu-line ri-close-line");
                        }
                    }
                });
            });
        });

        $("#menu").click(function () {
            $("#navBar").toggleClass("hidden lg:block").toggleClass("absolute z-50 w-full top-0");

            $("#menu").toggleClass("ri-menu-line ri-close-line");
        });

        loadPage('home1')

        $.ajax({
            url: '/discordbot/isDiscordNameValid',
            type: 'GET',
            data: { username: '<%= user.discord %>' },
            success: function(response) {
                // Handle success response
                if (!response.isValid) {
                    displayError('Your discord name is not valid, please change it in your profile settings!')
                }
            },
            error: function(xhr, status, error) {
                // Handle error response
                console.error('Error occurred: ' + error);
            }
        });
    });
</script>
</html>
