<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GNX Webapp</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<h1>GNX Webapp EJS</h1>

<h2>Name: <%= someData.name%></h2>
<h2>Shortname: <%= someData.shortname%></h2>
</body>

</html>