<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GNX Webapp</title>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/components/button.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="icon" type="image/png" href="/res/logo/logo_white.png">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/js/clientJS/toastMessages.js"></script>
</head>
<body>
<div id="nav-placeholder"></div>

<h1 class="big-title">Choose your Team</h1>
<div class="content">
    <form id="loginForm" class="loginForm">
        <div class="teams">
            <div class="teamicon">
                <img class="teamlogo" src="../res/teams/league.png" height="150" width="150"/>
                <p class="small-white-text">League of Legends</p>
                <button type="submit" class="default login" id="league">Login ➔</button>
            </div>
            <div class="teamicon">
                <img class="teamlogo" src="../res/teams/apex.png" height="150" width="150"/>
                <p class="small-white-text">Apex Legends</p>
                <button type="submit" class="default login" id="apex">Login ➔</button>
            </div>
            <div class="teamicon">
                <img class="teamlogo" src="../res/teams/hearthstone.png" height="150" width="150"/>
                <p class="small-white-text">Hearthstone</p>
                <button type="submit" class="default login" id="hearthstone">Login ➔</button>
            </div>
            <div class="teamicon">
                <img class="teamlogo" src="../res/teams/csgo.png" height="150" width="150"/>
                <p class="small-white-text">CS:GO</p>
                <button type="submit" class="default login" id="csgo">Login ➔</button>
            </div>
            <div class="teamicon">
                <img class="teamlogo" src="../res/teams/streamer.png" height="150" width="150"/>
                <p class="small-white-text">Streamer</p>
                <button type="submit" class="default login" id="streamer">Login ➔</button>
            </div>
            <div class="teamicon">
                <img class="teamlogo" src="../res/teams/staff.png" height="150" width="150"/>
                <p class="small-white-text">Staff</p>
                <button type="submit" class="default login" id="staff">Login ➔</button>
            </div>
        </div>
    </form>
</div>
<div class="register-container">
    <div class="register-text">No Account yet?</div>
    <a href="/register" class="register-text">Register here!</a>
</div>

<script>
    $(document).ready(function () {

        //Load the nav bar
        $("#nav-placeholder").load("/html/nav.html");

        //Load the login page for the selected team
        $("#loginForm").on('submit', (e) => {
            const clickedButton = e.target.querySelector('button[type="submit"]:focus');
            $("#loginForm").attr("action", `/login/${clickedButton.id}`);
        });

        //Display Toast Message if needed
        const searchParams = new URLSearchParams(window.location.search);
        const message = searchParams.get('message')

        if (message !== null) {
            displaySuccess(message);
        }
    });
</script>
</body>

</html>
