<!DOCTYPE html>
<html lang="en">
<head>
    <title>Set new password</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/components/button.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="icon" type="favicon" href="../res/logo/favico.png">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/js/clientJS/toastMessages.js"></script>
    <script src="/js/clientJS/passwordChecker.js"></script>
</head>
<body>
<div id="nav-placeholder"></div>

<h1 class="big-title title">Set new Password</h1>
<img src="/res/teams/reload.png" class="success-img" alt="Picture of a reload button"/>

<p class="small-white-text text">Please enter you new password</p>
<form id="formPassword">
    <input type="password" class="input-login" placeholder="Password" id="password1">
    <p class="small-white-text text">Confirm</p>
    <input type="password" class="input-login" placeholder="Confirm Password" id="password2">
    <button class="default login button" id="reset" type="submit">Reset ➔</button>
</form>

<script>
    $(document).ready(function () {
        // LOAD NAVIGATION BAR
        $("#nav-placeholder").load("/html/nav.html");

        //Update password logic
        $('#formPassword').submit(function(e) {
            e.preventDefault();
            const password1 = $('#password1').val();
            const password2 = $('#password2').val();
            if (password1 !== password2) {
                displayError("Passwords do not match!");
                return;
            }
            if (!isPasswordSecure(password1)) {
                displayError("Password is not secure enough!");
                return;
            }

            const tokenData = {
                token: `<%= token %>`
            }

            $.ajax({
                url: '/user/updatePassword/' + tokenData.token,
                method: 'POST',
                dataType: "json",
                data: {password: password1},
                success: function() {
                    window.location.href = '/?message=Password updated successfully!&type=success';
                },
                error: function(data) {
                    if (data.responseJSON && data.responseJSON.redirect) {
                        window.location.href = data.responseJSON.redirect;
                    }
                    displayError(data.responseJSON.message);
                }
            });
        });
    });
</script>

</body>
</html>