<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/components/button.css">
    <link rel="icon" type="favicon" href="../res/fileIcons/Bildmarke_white.png">
<body>
<div id="nav-placeholder"></div>

<h1 class="big-title">Login</h1>
<img class="teamImg" id="teamImg">

<form action="" method="POST">
    <label for="username" class="label-login">Username</label>
    <input type="text" name="username" id="username" class="input-login" />
    <label for="password" class="label-login">Password</label>
    <input type="password" name="password" id="password" class="input-login"/>
    <div class="button-container">
        <button type="button" id="back" class="default login">Back</button>
        <button type="submit" class="default login">Login ➔</button>
    </div>
</form>


<script>
    $(document).ready(function() {
        //Load the nav bar
        $("#nav-placeholder").load("/html/nav.html");

        //Load the correct Team Image
        const teamImg = document.getElementById('teamImg');
        teamImg.src = "/res/teams/" + "<%= teamname %>" + ".png";

        $("#back").click(function() {
            window.location.href = "/";
        });
    });
</script>
</body>
</html>
