<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/components/button.css">
    <link rel="stylesheet" href="/css/resetPassword.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="icon" type="favicon" href="../res/logo/favico.png">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/js/clientJS/toastMessages.js"></script>
</head>
<body>
<div id="nav-placeholder"></div>

<h1 class="big-title title">Reset Password</h1>
<img src="/res/teams/reload.png" class="success-img" alt="Picture of a reload button"/>

<p class="small-white-text text">Please enter you E-Mail address</p>
<form>
    <input type="text" class="input-login" placeholder="E-Mail" id="email">
</form>
<div class="button-container">
    <button class="default login button" id="back">Back</button>
    <button class="default login button" id="reset">Reset ➔</button>
</div>

<script>
    $(document).ready(function () {
        // LOAD NAVIGATION BAR
        $("#nav-placeholder").load("/html/nav.html");

        // BACK BUTTON
        $("#back").click(function() {
            window.location.href = "/";
        });

        //RESET PASSWORD
        $("#reset").click(function() {
            const formData = {
                email: $("#email").val()
            }
            $.ajax({
                url: "/resetPassword/sendResetEmail",
                type: "POST",
                data: formData,
                success: function() {
                    displaySuccess("If the E-Mail address is registered, you will receive an E-Mail with a link to reset your password.",6000);
                    $("#email").val('');
                }
            });
        });
    });
</script>

</body>
</html>