.shadow-box{
    margin-left: 18px;
    width: calc(100% - 54px);
    min-width: 1200px;
    height: auto;
    margin-bottom: 18px;
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    height: 125px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.grid-header {
    height: 75px;
    background-color: #31B7BC;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main-chp-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.practice-chp-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.suggestion-chp-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.row-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.row-container-popup {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.champion-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}

.champion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.championname-span {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 9;
}

.champion-container-row{
    display: flex;
    justify-content: flex-end;
    margin-top: -46px;
}

.edit {
    color: #575756;
    font-size: 0.85rem;
    float: left;
    position: relative;
    right: -46%;
}

.edit:hover{
    color: red;
    text-decoration: none;
    cursor: pointer;
}

