.shadow-box{
    margin-left: 18px;
    width: 50vw;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 18px;
    width: calc(100% - 78px);
    margin-bottom: 18px;
}

.edit-box{
    width: calc(100% - 78px - 50vw - 18px);
    height: fit-content;
    display: none;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-top: 20px;
}

.page-number-text{
    font-weight: 700;
}

.navigation-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}