.discord-data{
    display:flex;
    height:auto;
    background-color:#37393e;
    border-radius: 7px;
    padding: 12px;
    margin-top: 27px;
    align-items: center;
    justify-content: flex-start;
}

.server-img{
    height:50px;
    width:50px;
    left: 10px;
    border-radius:15px;
    align-self: flex-start;
}

.server-name-box{
    color:#f6f6f7;
    height:20px;
    font-family: Whitney, serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 4px 0 4px 18px;
}

.offline-indicator,.online-indicator{
    height:8px;
    width:8px;
    border-radius:50%;
    margin:0 4px 0 0;
}

.online-indicator{
    background:#43b581;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offline-indicator{
    color:#72767d;
    background:#747f8d;
}

.member-text{
    font-family: Whitney, serif;
    color: #72767d;
    font-size: 15px;
}

.main-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.online-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}