<script src="/js/clientJS/adminpanel/adminpanel.js"></script>

<div class="bg-grey-level1 xl:pr-4 lg:pr-0 pr-4 px-4 md:px-8 py-6">

    <h3 class="text-2xl mb-5 font-bold font-orbitron text-white">Admin Panel</h3>

    <div class="sm:flex sm:flex-row sm:w-full sm:gap-4 sm:items-stretch sm:h-52">
        <div class="sm:relative shadow-shdaow2xl p-5 rounded-md w-60 sm:flex sm:flex-col"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30)">
            <h4 class="text-lg font-bold text-white pb-4">Gameday / Results</h4>
            <p class="font-montserrat text-almost-white font-bold text-sm">Current open gamedays</p>
            <h3 class="text-success font-bold pt-2 text-center" style="font-size: 2.7rem" id="openGamedayReports">-</h3>
            <a href="#" id="openGamedayAdmin"
               class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Go to
                Overview<i
                        class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>

        <div class="sm:relative shadow-shdaow2xl p-5 rounded-md w-60 sm:flex sm:flex-col"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30)">
            <h4 class="text-lg font-bold text-white pb-4">Patchnotes</h4>
            <p class="font-montserrat text-almost-white font-bold text-sm">Current Version</p>
            <h3 class="text-success font-bold pt-2 text-center" style="font-size: 2.7rem" id="currentVersion">-<h3>
            <a href="#" id="openPatchNotes"
               class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Add new Patchnote<i
                        class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>

        <div class="sm:relative shadow-shdaow2xl p-5 rounded-md w-60 sm:flex sm:flex-col"
             style="background: linear-gradient(to bottom right, #1E1F22, #2B2D30)">
            <h4 class="text-lg font-bold text-white pb-4">Cronjobs</h4>
            <p class="font-montserrat text-almost-white font-bold text-sm">Active Jobs</p>
            <h3 class="text-success font-bold pt-2 text-center" style="font-size: 2.7rem" id="activeJobs">-</h3>
            <a href="#" id="openCronjobs"
               class="sm:absolute sm:left-5 sm:bottom-4 text-turquoise text-base font-semibold flex items-center">Manage Cronjobs<i
                        class="text-turquoise ml-2 ri-arrow-right-s-fill"></i></a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        initPage();

        $('#openGamedayAdmin').click(function (e) {
            e.preventDefault();
            loadPage('gamedayadmin')
        });

        $('#openPatchNotes').click(function (e) {
            e.preventDefault();
            loadPage('patchnotes')
        });

        $('#openCronjobs').click(function (e) {
            e.preventDefault();
            loadPage('cronjob')
        });
    });
</script>