h1 {
    margin-top: 6vh;
}

.button-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 360px;
}

.button{
    width: 150px;
}

.teamImg {
    margin: auto;
    display: block;
}

form{
    margin-top: 5vh;
}

.form-row {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.registercode-text{
    color: white;
    font-family: montserrat, serif;
    font-size: 1rem;
    text-align: center;
    margin-top: 8vh;
    padding-bottom: 20px;
}


