<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Successful</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="#2B2D30">

    <link href="/dist/output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="favicon" href="../../res/logo/favico.png">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body style="background-image: url('/res/backgrounds/dark_bg.png'); background-position: center -50px; background-size: cover; min-width: 350px;" class="h-full">
<%- include('../components/header.ejs') %>

<div class="flex flex-col h-full justify-center items-center">
    <h1 class="font-orbitron text-2xl font-semibold mt-16">Registration successful!</h1>
    <img class="mt-10 mb-4 w-[150px]" alt="Picture of a checkmark" src="/res/teams/checkmark.png">
    <p class="font-montserrat text-almost-white text-base mt-4 mb-8">You can now log in via the button below</p>

    <%- include('../components/buttondefault', {type: 'button', id: 'login', text: 'Login', icon: 'ri-arrow-right-line'}) %>
</div>

<script>
    $(document).ready(function () {
        $("#login").click(function () {
            window.location.href = "/";
        });
    });
</script>

</body>
</html>